<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header.ejs') %>
  <title><%= course.title %></title>
</head>
<body>
  <%- include('partials/header.ejs') %>
  <div class="container">
    <h1><%= course.title %></h1>
    <p><%= course.description %></p>
    <div class="course-content">
      <%= course.content %>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
